<div>

  <!-- Navigation Tabs -->
  <ul>
    <li #createTab
      id="createTab"
      (click)="onClick('create')">Create IP Block</li>
    <li #getAllTab
      id="getAllTab"
      (click)="onClick('get-all')">Get All IPs</li>
    <li #acquireReleaseTab
      id="acquireReleaseTab"
      (click)="onClick('acquire-release')">Acquire/Release IP</li>
  </ul>

  <div [ngSwitch]="activeTab">
    <create-ip-block
      *ngSwitchCase="'create'">
    </create-ip-block>
    <get-all-ips
      *ngSwitchCase="'get-all'">
    </get-all-ips>
    <acquire-release-ip
      *ngSwitchCase="'acquire-release'">
    </acquire-release-ip>
  </div>

</div>