<div class="container mt-3">

  <!-- Navigation Tabs -->
  <ul class="nav nav-pills nav-justified">
    <li #createTab
      class="nav-item nav-link"
      [ngClass]="activeTab === 'create' ? 'active' : ''"
      id="createTab"
      (click)="onClick('create')">Create IP Block</li>
    <li #getAllTab
      class="nav-item nav-link"
      [ngClass]="activeTab === 'get-all' ? 'active' : ''"
      id="getAllTab"
      (click)="onClick('get-all')">Get All IPs</li>
    <li #acquireReleaseTab
      class="nav-item nav-link"
      [ngClass]="activeTab === 'acquire-release' ? 'active' : ''"
      id="acquireReleaseTab"
      (click)="onClick('acquire-release')">Acquire/Release IP</li>
    <li #combinedTab
      class="nav-item nav-link"
      [ngClass]="activeTab === 'combined' ? 'active' : ''"
      id="combinedTab"
      (click)="onClick('combined')">Combined</li>
  </ul>

  <div
    class="m-2"
    [ngSwitch]="activeTab">
    <create-ip-block
      *ngSwitchCase="'create'">
    </create-ip-block>
    <get-all-ips
      *ngSwitchCase="'get-all'">
    </get-all-ips>
    <acquire-release-ip
      *ngSwitchCase="'acquire-release'">
    </acquire-release-ip>
    <combined
      *ngSwitchCase="'combined'">
    </combined>
  </div>

</div>