<div class="row mb-2">
    <div class="col-8">
        <div class="input-group">
            <label class="input-group-text">Enter a created IP address to acquire</label>
            <input #acquiringAddress
                class="form-control"
                type="text"
                [ngClass]="isAcquireValidationMessageShown ? 'invalid-input' : ''"
                [(ngModel)]="acquireModel"
                [ngbTypeahead]="searchAcquire"
                (blur)="checkAcquireInput(acquiringAddress.value)">
            <button
                class="btn btn-outline-secondary"
                [disabled]="isAcquireInputValid ? null : 'disabled'"
                (click)="acquireAddress(acquiringAddress.value)">Acquire</button>
        </div>
        <div *ngIf="isAcquireValidationMessageShown">Please enter a valid IP address</div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-8">
        <div class="input-group">
            <label class="input-group-text">Enter an acquired IP address to release</label>
            <input #releasingAddress
                class="form-control"
                type="text"
                [ngClass]="isReleaseValidationMessageShown ? 'invalid-input' : ''"
                [(ngModel)]="releaseModel"
                [ngbTypeahead]="searchRelease"
                (blur)="checkReleaseInput(releasingAddress.value)">
            <button
                class="btn btn-outline-secondary"
                [disabled]="isReleaseInputValid ? null : 'disabled'"
                (click)="releaseAddress(releasingAddress.value)">Release</button>
        </div>
        <div *ngIf="isReleaseValidationMessageShown">Please enter a valid IP address</div>
    </div>
</div>

<div class="row">
    <label>Response:</label>
    <code>
        <pre>{{ responseMessage }}</pre>
    </code>
    <code>
        <pre>{{ result }}</pre>
    </code>
</div>